<html [ngClass]="{ 'white-mode': !colorModeDark, 'dark-mode': colorModeDark }">
  <div class="columns col-gapless">
    <div class="column col-6">
      <h1 class="title">Generador de Usuarios</h1>
      <div class="form-group">
        <label class="form-label" for="input-example-1">Cedeula</label>
        <input
          class="form-input"
          type="text"
          id="CC"
          placeholder="CC"
          [(ngModel)]="cedula"
        />
        <label class="form-label" for="input-example-1">Nombre Completo</label>
        <input
          class="form-input"
          type="text"
          id="Apellido"
          placeholder="Nombre Completo"
          [(ngModel)]="name"
        />
        <label class="form-label" for="input-example-1">POS</label>
        <input
          class="form-input"
          type="text"
          id="CC"
          placeholder="POS"
          [(ngModel)]="POS"
        />
        <label class="form-label" for="input-example-1">Celular</label>
        <input
          class="form-input"
          type="text"
          id="CC"
          placeholder="Celular"
          [(ngModel)]="celular"
        />
        <label class="form-label" for="input-example-1">Tpo de Usuario</label>
        <select class="form-select" [(ngModel)]="type" id="type"
        [ngClass]="{ 'white-mode': !colorModeDark, 'dark-mode': colorModeDark }"
        >
          <option
          [ngClass]="{ 'white-mode': !colorModeDark, 'dark-mode': colorModeDark }"
          >Seleccione el tipo de usuario</option>
          <option
          [ngClass]="{ 'white-mode': !colorModeDark, 'dark-mode': colorModeDark }"
          >SPT</option>
          <option
          [ngClass]="{ 'white-mode': !colorModeDark, 'dark-mode': colorModeDark }"
          >SITAR</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="generate()">generar</button>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="copiarAlPortapapeles()">
          Copiar al portapapeles
        </button>
        <button class="btn btn-success" (click)="getData()">Recuperar datos</button>
        <button class="btn btn-error" (click)="deleteData()">Eliminar datos</button>
      </div>

      <!-- <div class="form-group">
        <button class="btn btn-primary" (click)="cambiarModoColor()">Copiar al portapapeles</button>
      </div> -->
    </div>
    <div class="column col-6">
      <div class="table-container">

      <table class="table"
      [ngClass]="{ 'white-mode': !colorModeDark, 'dark-mode': colorModeDark }"
      >
        <thead>
          <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Password</th>
            <th>POS</th>
            <th>Celular</th>
            <th>Tipo de Usuario</th>
          </tr>
        </thead>
        <tbody 
        >
          <tr class="active" *ngFor="let cedula of cedulas"
          >
            <td
            >{{ cedula.cedula }}</td>
            <td
            >{{ cedula.nombre }}</td>
            <td
            >{{ cedula.password }}</td>
            <td
            >{{ cedula.POS }}</td>
            <td
            >{{ cedula.celular }}</td>
            <td
            >{{ cedula.tipoDeUsuario }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <!-- <section class="container1">
    <h1 class="title">Generador de Usuarios</h1>
    <div class="form-group">
      <label class="form-label" for="input-example-1">Cedeula</label>
      <input class="form-input" type="text" id="CC" placeholder="CC" [(ngModel)]="cedula">
      <label class="form-label" for="input-example-1">Nombre Completo</label>
      <input class="form-input" type="text" id="Apellido" placeholder="Apellido" [(ngModel)]="name">
      <label class="form-label" for="input-example-1">Tpo de Usuario</label>
      <select class="form-select" [(ngModel)]="type" id="type">
        <option>Seleccione el tipo de usuario</option>
        <option>SPT</option>
        <option>SITAR</option>
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-success" (click)="generate()">generar</button>
    </div>
  </section> -->
  <!-- <section class="container2">
    <table class="table">
      <thead>
        <tr>
          <th>Cedula</th>
          <th>Nombre</th>
          <th>Password</th>
          <th>Tipo de Usuario</th>
        </tr>
      </thead>
      <tbody>
        <tr class="active" *ngFor="let cedula of cedulas">
          <td>{{cedula.cedula}}</td>
          <td>{{cedula.nombre}}</td>
          <td>{{cedula.password}}</td>
          <td>{{cedula.tipoDeUsuario}}</td>
        </tr>
      </tbody>
    </table>
  </section> -->
</html>
